 <app-header></app-header>
 <router-outlet></router-outlet>
<!-- <div class="row">
  <div class="col-md-4">
    <mdb-card cascade="true" wider="true" reverse="true" style="margin: 10px;" class="my-4"> 
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="https://hips.hearstapps.com/ghk.h-cdn.co/assets/17/30/2560x1280/landscape-1500925839-golden-retriever-puppy.jpg?resize=480:*" alt="Image of a Puppy">
        </mdb-card-img>
          <a>
            <div class="mask rgba-white-slight">
            </div>
          </a>
      </div>
      <div class="avatar-container" style="margin: auto;">
        <div class="avatar-content" mdbWavesEffect>
          <ngx-avatar gravatarId="ee77984b5125c50782c7361303b02889" mdbWavesEffect size="50" [round]="true"></ngx-avatar>
        </div>
      </div>
    <mdb-card-body class="text-center">
      <mdb-card-title>
        <h4>I am title</h4>
      </mdb-card-title>
      <mdb-card-text>
        I am some quick text to show in the card as an example.
      </mdb-card-text>
      <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
      <a type="button" size="lg" color="fb" floating="true" mdbBtn mdbWavesEffect>
        <mdb-icon fab icon="facebook-f"></mdb-icon>
      </a>
      <div class="card-footer text-muted mt-4">
        I am footer
      </div>
    </mdb-card-body>
    </mdb-card>
  </div>
</div> -->